.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: var(--color-porcelain);
}

.mainContent {
  display: flex;
  flex: 1;
  min-height: 0;
}

.leftPanel {
  width: var(--panel-left-width);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--space-8);
}

.divider {
  width: 1px;
  background-color: var(--color-divider);
}

.rightPanel {
  width: var(--panel-right-width);
  display: flex;
  flex-direction: column;
  background-color: var(--color-beige-light);
}

.bottomBar {
  position: relative;
  height: var(--indicator-bar-height);
  border-top: 1px solid var(--color-divider);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-porcelain);
}
